management:
    security:
        enabled: false
spring:
    sleuth:
        sampler:
            percentage: 1.0
    rabbitmq:
#        host: localhost
        host: 192.168.99.100
#        username: rabbitmq
#        password: rabbitmq
        port: 5672
endpoints:
    shutdown:
        enabled: true
ribbon:
    eureka:
        enabled: true
    ConnectTimeout: 3000
    ReadTimeout: 50000
hystrix:
    command:  
        default:
            execution:
                isolation:
                    thread:
                        timeoutInMilliseconds: 50000
                timeout:
                    enabled: true
eureka:
    instance:
        hostname: localhost
        prefer-ip-address: true
    lease-renewal-interval-in-seconds: 5
    client: 
        serviceUrl:
#       defaultZone: http://localhost:8761/eureka,http://localhost:8762/eureka
            defaultZone: http://localhost:8761/eureka
    healthcheck:
        enabled: true
    zipkin:
        base-url: http://localhost:9400
    
